{% extends 'base.html' %}
{% load static %}


{% block content %}
    <div style="text-align: center;">
        <h1 class="landing-saludo display-5 py-2"><strong>¡TeLoVendo te da la Bienvenida!</strong></h1>
        <img class="mx-3" src="https://images.pexels.com/photos/5632382/pexels-photo-5632382.jpeg" alt="Imagen carrito 1" style="max-width: 200px; height: auto;">
        <img class="mx-3" src="https://images.pexels.com/photos/5632332/pexels-photo-5632332.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Imagen carrito 2" style="max-width: 200px; height: auto;">
        <img class="mx-3" src="https://images.pexels.com/photos/5632388/pexels-photo-5632388.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Imagen carrito 3" style="max-width: 200px; height: auto;">
    </div>

{% endblock %}
